body{
    font-family: 'TheGoodMonolith', sans-serif;
    background-color: #F6F1E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.title {
    display: flex;
    background-color: darkcyan;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.header{
    background-color: darkcyan;
    font-size: 80px;
    font-weight: 600;
    height: 110px;
    padding: 4px;
}
.container {
    background-color: gray;
    padding: 1px;
    margin: 20px;
    border: 15px darkcyan solid;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.row {
    display: flex;
}

.sqs{
    background-color: white;
    border: 1px black solid;
    padding: 2px;
    flex: 1;
    box-sizing: border-box;
}

.slider-content {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}
input {
    cursor: pointer;
}

.button-ref {
    margin-top: 20px;
}
button {
    border: 2px black solid;
    border-radius: 5px;
    height: 27px;
    width: 70px;
    font: 600;
    font-size: 19px;
    transition: all 0.2s ease;
    padding: 2px;
}

button:hover{
    transition: all 0.2s ease;
    transform: scale(1.05);
    cursor: pointer;
}

.clr-select {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}

#colorPicker {
    border: 2px black solid;
    border-radius: 9px;
    padding: 0px;
    background: none;
    cursor: pointer;
}