body{
    background-color: #F6F1E9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: gray;
    padding: 2px;
    margin: 20px;
    border: 2px black solid;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}

.sqs{
    background-color: white;
    border: 1px black solid;
    padding: 2px;
    flex: 1;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}
